.card{
    border-radius: 2rem;
}
.cityName{
    font-size: 2.2rem;
    text-align: right;
    padding: 1.2rem;
    margin: 0;
}
.fl{
    text-align: right;
    font-size: 1.2rem;
}
.navbar{
    padding: 0 1.5rem;
}
.icon{
    width: 7rem;
}
.navbar-text{
    font-size: 2.2rem;
}
.nav-item {
    display: inline-block;
}
.owm-weather-icon{
    height: 5.8rem;
    width: 5.8rem;
    margin-top: 0.1rem;
}